<header id="header">
  <a href="#home" du-smooth-scroll>
    <div
      class="logo"
      tooltip="Home"
      tooltip-placement="bottom">
    </div>
  </a>
  <p class="filler"></p>
  <a class="link" href="#services" du-smooth-scroll>Services</a>
  <a class="link" href="#software" du-smooth-scroll>Software</a>
  <a class="link" href="/blog">Blog</a>
  <div class="contact"> <!-- Used as a wrapper in css for tooltip -->

    <a
      class="btn btn-default"
      role="button"
      tooltip="marcus@abstractfactory.io"
      tooltip-placement="bottom"
      href="mailto:marcus@abstractfactory.io">
      Contact</a>
  </div>
</header><!-- /header -->


<div class="sections">
  <section id="home">
    <div class="headline">
      <div class="slash"></div>
      <h1>Abstract<br>Factory</h1>
      <p>Workflow automation for film, ads and games.</p>
    </div>
  </section> <!-- /section  -->


  <section id="services">
    <div class="headline">
      <h1>Services</h1>
      <p>What we do</p>
    </div>

    <div class="features">
      <af-feature title="Bespoke development"></af-feature>
      <af-feature title="Consulting"></af-feature>
      <af-feature title="Open-source development"></af-feature>
    </div>
  </section> <!-- /section  -->

  <section id="software" >
    <div class="headline">
      <h1>Software</h1>
      <p>Featured workflow automation software.</p>
    </div>

    <div class="features">
      <af-feature
        title="Pyblish"
        link="http://pyblish.com">
          Publishing framework for visual effects.
      </af-feature>
      <af-feature class="inactive"></af-feature>
      <af-feature class="inactive"></af-feature>
    </div>

  </section> <!-- /section  -->


  <section>
  </section>

</div><!-- /sections -->