
<header id="header">
  <a href="/" du-smooth-scroll>
  <div
    class="logo"
    tooltip="Home"
    tooltip-placement="bottom">
  </div>
  </a>
  <div class="menu">
    <p class="filler"></p>
    <!-- <a class="item" href="/services">Services</a> -->
    <!-- <a class="item" href="/software">Software</a> -->
    <a class="item" href="/blog">Blog</a>
    <div class="contact"> <!-- Used as a wrapper in css for tooltip -->
    <a
      class="btn btn-default"
      role="button"
      tooltip="marcus@abstractfactory.io"
      tooltip-placement="bottom"
      href="mailto:marcus@abstractfactory.io">
      Contact</a>
    </div>
  </div>
</header><!-- /header -->
