@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Bold.ttf") format("truetype");
  font-weight: 700; }
/* Applies to all 

*/
html {
  font: 400 0.875em/1.58 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #787878;
  min-width: 500px; }
  html a {
    color: #787878; }
    html a:link {
      text-decoration: none; }
    html a:hover {
      color: #787878; }
    html a:visited {
      color: #787878; }
  html p {
    margin: 0px;
    padding: 0px;
    transition: opacity 0.1s; }
  html h1, html h2, html h3, html h4, html p {
    cursor: default; }

html, body, .wrapper {
  background-color: #fdfdfd; }

.wrapper {
  margin-top: 80px; }

header {
  position: fixed;
  display: flex;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 80px;
  padding: 20px;
  background-color: rgba(253, 253, 253, 0.95);
  z-index: 2; }
  header .menu {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    /*
      Tweaks.

      The last item shouldn't have a margin.
      We'll also slightly move the tooltip as it would otherwise
      get obscured by the right-hand side of the window.

    */ }
    header .menu .filler {
      flex-grow: 1; }
    header .menu .item {
      display: block;
      flex-grow: 0;
      line-height: 32px;
      margin-right: 20px;
      transition: border-bottom-color 0.1s;
      z-index: 10; }
      header .menu .item.btn {
        padding: 5px;
        padding-top: 0;
        padding-bottom: 0; }
      header .menu .item.link {
        border-bottom: 3px solid transparent; }
        header .menu .item.link:hover {
          border-bottom-color: #6CADD9; }
    header .menu .contact a {
      margin-right: 0; }
    header .menu .contact .tooltip {
      transform: translateX(-40px); }
    header .menu .contact .tooltip-arrow {
      transform: translateX(40px); }

section {
  padding-bottom: 130px; }
  section .headline {
    padding-top: 80px; }
    section .headline h1 {
      font-size: 5em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center; }
    section .headline p {
      text-align: center;
      color: #c5c5c5; }
  section#home {
    position: relative;
    height: 100%;
    padding-bottom: 0px;
    padding-top: 0px; }
    section#home .headline {
      position: relative;
      top: 100px;
      top: 50%;
      transform: translateY(-70%);
      margin-left: 30px; }
      section#home .headline h1, section#home .headline p {
        text-align: left;
        margin-left: 60px; }
      section#home .headline h1 {
        font-size: 5.5em; }
      section#home .headline .slash {
        position: absolute;
        background-color: black;
        left: 0px;
        top: 0px;
        width: 30px;
        bottom: 0px;
        transform: skewX(5deg); }

.logo {
  padding: 0;
  margin: 0;
  width: 64px;
  height: 32px;
  background-image: url("../img/logo2_transparent_512x512.png");
  background-size: 64px 32px; }

/*# sourceMappingURL=app.css.map */
