
$font-color: rgb(120, 120, 120);
$background-color: rgb(253, 253, 253);
$green: #C5EB87;
$blue: #6CADD9;
$header-height: 80px;


@font-face { font-family: "Lato"; src: url("../font/Lato-Regular.ttf") format("truetype"); font-weight: 400; }
@font-face { font-family: "Lato"; src: url("../font/Lato-Bold.ttf") format("truetype"); font-weight: 700; }


/* Applies to all 

*/
html {
  font: 400 0.875em/1.58 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $font-color;
  min-width: 500px;

  a {
    color: $font-color;

    &:link { text-decoration: none; }
    &:hover { color: $font-color; }
    &:visited { color: $font-color; }
  }

  p {
    margin: 0px;
    padding: 0px;
    transition: opacity 0.1s;
  }

  h1, h2, h3, h4, p {
    cursor: default;
  }
}


html, body, .wrapper {
  background-color: $background-color;
}

.wrapper {
  margin-top: $header-height;
}


header {
  position: fixed;
  display: flex;
  left: 0px;
  right: 0px;
  top: 0px;
  height: $header-height;
  padding: 20px;
  background-color: rgba(253, 253, 253, 0.95);
  z-index: 2;

  .menu {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;

    .filler {
      flex-grow: 1;
    }

    .item {
      display: block;
      flex-grow: 0;
      line-height: 32px;
      margin-right: 20px;
      transition: border-bottom-color 0.1s;
      z-index: 10;
      
      &.btn {
        padding: 5px;
        padding-top: 0;
        padding-bottom: 0;
      }
    
      &.link {
        border-bottom: 3px solid transparent;

        &:hover {
          border-bottom-color: $blue;
        }
      }
    }
  
    /*
      Tweaks.

      The last item shouldn't have a margin.
      We'll also slightly move the tooltip as it would otherwise
      get obscured by the right-hand side of the window.

    */
    .contact {
      a {
        margin-right: 0;
      }
      .tooltip {
        transform: translateX(-40px);
      }

      .tooltip-arrow {
        transform: translateX(40px);
      }
    }
  }
}


section {
  padding-bottom: 130px;

  .headline {
    padding-top: 80px;

    h1 {
      font-size: 5em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      text-align: center;
      color: lighten($font-color, 30);
    }
  }

  &#home {
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 150px;
    margin-left: 24px;

    .headline {
      // position: relative;
      // top: 50%;
      // transform: translateY(-70%);
      // margin-left: 30px;

      h1, p {
        text-align: left;
        margin-left: 60px;
      }

      h1 {
        font-size: 5.5em;
      }

      .slash {
        position: absolute;
        background-color: black;
        left: 0px;
        top: 0px;
        width: 30px;
        height: 250px;
        bottom: 0px;
      }
    }
  }
}


.logo {
  padding: 0;
  margin: 0;
  width: 64px;
  height: 32px;
  background-image: url("../img/logo2_transparent_512x512.png");
  background-size: 64px 32px;
}


@media (max-width: 720px) {

}

@media (max-width: 480px) {

}